<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Treinamento de spring boot</title>
</head>
<body>
	<div align="center" style="margin-top: 50px;">
		<form action="salvarpessoa" method="post">

			<table border="1" cellpadding="5">

				<br />

				<h2>Cadastro Pessoas</h2>

				<br />

				<tr>
					<th>Nome:</th>
					<td><input type="text" name="nome" id="nome" size="45"
						required="required" /></td>
				</tr>
				<tr>
					<th>Sobrenome:</th>
					<td><input type="text" name="sobrenome" id="sobrenome"
						size="45" /></td>
				</tr>
				<tr>
					<th>Email:</th>
					<td><input type="email" name="email" id="email" size="45" /></td>
				</tr>
					<tr>
					<th>Idade:</th>
					<td><input type="number" name="idade" id="idade" size="45" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit"
						value="Cadastrar" />
				</tr>
			</table>
		</form>
	</div>

</body>
</html>