<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Treinamento de spring boot</title>
</head>
<body>
	<div align="center" style="margin-top: 20px;">

		<h2>Informações dos Usuários</h2>
		<a href="/cadastropessoa">Cadastro de Pessoa</a>
		<div th:each="p: ${pessoaobj}">

			<p>
				ID: <span th:text="${p.id}"></span>
			</p>
			<p>
				Nome: <span th:text="${p.nome}"></span>
			</p>
			<p>
				Sobrenome: <span th:text="${p.sobrenome}"></span>
			</p>
			<p>
				Email: <span th:text="${p.email}"></span>
			</p>
			<p>
				Idade: <span th:text="${p.idade}"></span>
			</p>
		</div>

	</div>
	<div align="center" style="margin-top: 20px;">
		<form
			th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}"
			method="post">
			<table border="1" cellpadding="5">
				<tr>
					<th>Telefone:</th>
					<td><input type="text" name="numero" id="numero" size="45"
						required="required" /></td>
				</tr>
				<tr>
					<th>Tipo:</th>
					<td><input type="text" name="tipo" id="tipo" size="45"
						required="required" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit"
						value="Cadastrar" />
				</tr>
			</table>
		</form>
	</div>
	<div align="center" style="margin-top: 20px;">
		<table border="1" cellpadding="5">
		
		<h2>Telefones</h2>

			<tr>
				<th>Número</th>
				<th>Tipo</th>
			</tr>

			<tr th:each="fone : ${telefones}">
				<td th:text="${fone.numero}"></td>
				<td th:text="${fone.tipo}"></td>
				<td><a
					th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}"
					onclick="return confirm('Tem certeza que deseja excluir ?')">Excluir</a></td>
			</tr>
		</table>
	</div>
</body>
</html>